<!DOCTYPE html>
    <html>
        <head>
          <title>{% block title %}{% endblock %}</title>
          {% load bootstrap5 %}
          {% bootstrap_css %}
          {% bootstrap_javascript %}
            {% block head %}{% endblock %}
        </head>
        <body>
            <div class="container">
              <ul class="nav bg-info">
                <li class="nav-item">
                  <a class="nav-link link-light" href="/">HOME</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link link-light" href="/upload_excel">UPLOAD FILE</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-light" href="/chart_page">CHARTS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-light" href="/extremum_values">STATISTICS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-light" href="/forecast">FORECAST</a>
                  </li>

                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link link-light" href="{% url 'logout_view' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        LOGOUT
                      </a>
                    </li>
                    <form id="logout-form" method="post" action="{% url 'logout_view' %}" style="display: none;">
                      {% csrf_token %}
                    </form>
                  {% endif %}

              </ul>

              {% block content %}
              {% endblock %}
            </div>
        </body>
        {% block script %}
        {% endblock %}
    </html>