{% extends 'base.html' %}

{% block title %}Chart Data{% endblock %}

{% block content %}


    <h2>Chart Data</h2>

    <!-- Wybór zakresu dat -->
    <label for="startDatePicker">Start Date:</label>
    <input type="date" class="form-control" id="startDatePicker" value="2022-11-27">

    <label for="endDatePicker">End Date:</label>
    <input type="date" class="form-control" id="endDatePicker" value="2022-11-29">

    <!-- Wybór rodzaju danych -->
    <label for="dataOption">Data Option:</label>
    <select id="dataOption" class="form-control">
        <option value="all">All</option>
        <option value="byDays">By Days</option>
        <option value="byHours">By Hours</option>
    </select>

    <!-- Przycisk filtrujący dane -->
    <button onclick="filterData()" class="btn btn-success mt-2">Filter Data</button>

    <div>
        <!-- Obszar dla wykresu -->
        <canvas id="myChart"></canvas>
    </div>

    <!-- Biblioteka do tworzenia wykresów -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Zmienna przechowująca referencję do wykresu
        let myChart;

        // Funkcja filtrująca dane na podstawie wyborów użytkownika
        function filterData() {
            // Pobierz wybrane daty i rodzaj danych od użytkownika
            const startDate = document.getElementById('startDatePicker').value;
            const endDate = document.getElementById('endDatePicker').value;
            const dataOption = document.getElementById('dataOption').value;

            // Pobierz dane z API
            fetch('http://127.0.0.1:8000/get_chart_data/')
                .then(response => response.json())
                .then(data => {
                    // Dane z API
                    var timeLabels = data.time_labels;
                    var temperatures = data.temperatures;
                    var eTodayValues = data.E_Today;
                    var pacValues = data.Pac;
                    var ipv2Values = data.Ipv2;

                    // Pobierz element canvas po zniszczeniu poprzedniego wykresu
                    const ctx = document.getElementById('myChart');
                    if (myChart) {
                        myChart.destroy();
                    }

                    //-----------------------------------------------------
                    // OPCJA 'BY DAYS'
                    //-----------------------------------------------------
                    if (dataOption === 'byDays') {
                        const dateData = {};

                        // Grupowanie danych według dat
                        for (let i = 0; i < timeLabels.length; i++) {
                            const currentDate = new Date(timeLabels[i]);
                            const formattedDate = currentDate.toISOString().split('T')[0];

                            if (startDate <= formattedDate && formattedDate <= endDate) {
                                if (!dateData[formattedDate]) {
                                    dateData[formattedDate] = {
                                        temperatures: {
                                            sum: temperatures[i],
                                            count: 1
                                        },
                                        eToday: {
                                            max: eTodayValues[i]
                                        },
                                        pac: {
                                            sum: pacValues[i],
                                            count: 1
                                        },
                                        ipv2: {
                                            sum: ipv2Values[i],
                                            count: 1
                                        }
                                    };
                                } else {
                                    dateData[formattedDate].temperatures.sum += temperatures[i];
                                    dateData[formattedDate].temperatures.count++;
                                    dateData[formattedDate].eToday.max = Math.max(dateData[formattedDate].eToday.max, eTodayValues[i]);
                                    dateData[formattedDate].pac.sum += pacValues[i];
                                    dateData[formattedDate].pac.count++;
                                    dateData[formattedDate].ipv2.sum += ipv2Values[i];
                                    dateData[formattedDate].ipv2.count++;
                                }
                            }
                        }

                        // Inicjalizacja zmiennych do przechowywania wartości z kolumn "Date", "Average Temperature", "Max E-Today", "Average Pac" i "Average Ipv2"
                        let dateValues = [];
                        let averageTemperatureValues = [];
                        let maxETodayValues = [];
                        let averagePacValues = [];
                        let averageIpv2Values = [];

                        // Posortuj daty i dodaj dane do tabeli zgodnie z wybranym zakresem dat
                        const sortedDates = Object.keys(dateData).sort();
                        for (const date of sortedDates) {
                            const averageTemperature = (dateData[date].temperatures.sum / dateData[date].temperatures.count).toFixed(2);
                            const averagePac = (dateData[date].pac.sum / dateData[date].pac.count).toFixed(2);
                            const averageIpv2 = (dateData[date].ipv2.sum / dateData[date].ipv2.count).toFixed(2);

                            // Dodaj wartości do zmiennych
                            dateValues.push(date);
                            averageTemperatureValues.push(averageTemperature);
                            maxETodayValues.push(dateData[date].eToday.max);
                            averagePacValues.push(averagePac);
                            averageIpv2Values.push(averageIpv2);
                        }

                        // Stwórz nowy wykres typu 'line'
                        myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: dateValues,
                                datasets: [{
                                    label: 'Average Temperature',
                                    data: averageTemperatureValues,
                                    borderWidth: 1
                                }, {
                                    label: 'Max E-Today',
                                    data: maxETodayValues,
                                    borderWidth: 1
                                }, {
                                    label: 'Average Pac',
                                    data: averagePacValues,
                                    borderWidth: 1
                                }, {
                                    label: 'Average Ipv2',
                                    data: averageIpv2Values,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }
                    //----------------------------------------------------------------------------------------
                    // OPCJA 'BY HOURS'
                    //----------------------------------------------------------------------------------------
                    else if (dataOption === 'byHours') {
                        const hourData = {};

                        // Grupowanie danych według godzin
                        for (let i = 0; i < timeLabels.length; i++) {
                            const currentDate = new Date(timeLabels[i]);
                            const formattedDate = currentDate.toISOString().split('T')[0];

                            if (startDate <= formattedDate && formattedDate <= endDate) {
                                const hour = timeLabels[i].split(' ')[1].split(':')[0];
                                if (!hourData[hour]) {
                                    hourData[hour] = {
                                        sum: temperatures[i],
                                        count: 1
                                    };
                                } else {
                                    hourData[hour].sum += temperatures[i];
                                    hourData[hour].count++;
                                }
                            }
                        }

                        // Inicjalizacja zmiennych do przechowywania wartości z kolumn "Hour Range" i "Average Temperature"
                        let hourRangeValues = [];
                        let averageTemperatureValues = [];

                        // Posortuj godziny i dodaj dane do tabeli zgodnie z wybranym zakresem dat
                        const sortedHours = Object.keys(hourData).sort((a, b) => parseInt(a) - parseInt(b));
                        for (const hour of sortedHours) {
                            const averageTemperature = (hourData[hour].sum / hourData[hour].count).toFixed(2);
                            const hourRange = `${hour}:00 - ${parseInt(hour) + 1}:00`;

                            // Dodaj wartości do zmiennych
                            hourRangeValues.push(hourRange);
                            averageTemperatureValues.push(averageTemperature);
                        }

                        // Stwórz nowy wykres typu 'line'
                        myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: hourRangeValues,
                                datasets: [{
                                    label: 'Average Temperature',
                                    data: averageTemperatureValues,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }
                    //----------------------------------------------------------------------------------------
                    // OPCJA 'ALL'
                    //----------------------------------------------------------------------------------------
                    else if (dataOption === 'all') {
                        let dateValuesAll = [];
                        let TemperatureValuesAll = [];
                        let eTodayValuesAll = [];
                        let pacValuesAll = [];
                        let ipv2ValuesAll = [];

                        // Grupowanie danych dla wszystkich dostępnych dat
                        for (let i = 0; i < timeLabels.length; i++) {
                            const currentDate = new Date(timeLabels[i]);
                            const formattedDate = currentDate.toISOString().split('T')[0];

                            if (startDate <= formattedDate && formattedDate <= endDate) {
                                //--------------
                                // WSZYSTKO
                                dateValuesAll.push(timeLabels[i]);
                                TemperatureValuesAll.push(temperatures[i]);
                                eTodayValuesAll.push(eTodayValues[i]);
                                pacValuesAll.push(pacValues[i]);
                                ipv2ValuesAll.push(ipv2Values[i]);
                            }
                        }

                        // Stwórz nowy wykres typu 'line'
                        myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: dateValuesAll,
                                datasets: [{
                                    label: 'Temperature',
                                    data: TemperatureValuesAll,
                                    borderWidth: 1
                                }, {
                                    label: 'E-Today',
                                    data: eTodayValuesAll,
                                    borderWidth: 1
                                }, {
                                    label: 'Pac',
                                    data: pacValuesAll,
                                    borderWidth: 1
                                }, {
                                    label: 'Ipv2',
                                    data: ipv2ValuesAll,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        }
    </script>
{% endblock %}
